.countryList {
    width: 100%;
    min-height: 11rem;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}
.country {
    width: 100%;
    padding-left: 0.7rem;
    background-color: #606060;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background-color: #757575;
    }
    &:active {
        background-color: #454545;
    }
}

.noData {
    text-align: center;
    font-size: 1.5rem;
}

.sortPanel {
    display: flex;
    gap: 0.5rem;
    justify-content: end;
    padding: 3px;
}

.sortButton {
    border: none;
    border-radius: 3px;
    background-color: #757575;
    color: white;
    text-shadow: black 0.07rem 0.07rem 0.06rem ;

    height: 1.3rem;

    cursor: pointer;

    &:hover {
        background-color: #858585;
    }
    &:active {
        background-color: #454545;
    }
}