.countryPage {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    h1 {
        text-align: center;
    }

    .picture {
        width: 12rem;
        img {
            display: block;
            width: 100%;
            object-fit: scale-down;
        }
    }
    .paragraph {
        margin: 0;
        text-align: center;
    }
}

.borderCountries {
    width: 70%;
    h2 {
        text-align: center;
    }
    .notFound {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .borderCountries {
        width: 90%
    }
}
